.about {
    margin: 30px 30px 30px 30px;
    padding-bottom: 300px;

    p {
        margin: 40px 100px 40px 100px;
        letter-spacing: 1.5px;
        text-align: justify;
        font-size: 22px;
    }

    hr {
        width: 15%;
        border: none;
        border-top: 1px double #444;
        color: #C19D70;
        overflow: visible;
        text-align: center;
        height: 3px;
    }

    // hr:after {
    //     background: #fff;
    //     content: '◆';
    //     padding: 0 4px;
    //     position: relative;
    //     top: -13px;
    // }

    h2 {
        margin-top: 30px;
        text-align: center;
        font-size: 40px;
        letter-spacing: 5px;
        font-family: 'Dancing Script', cursive;
        color: #C19D70;

    }

    h1 {
        margin-right: 30px;
        color: white;
    }

    h4 {
        color: #C19D70;
        font-size: 20px;
        margin-right: 50px;
        text-align: justify;
    }

    h3 {
        color: #C19D70;
        text-decoration: solid;
        font-size: 22px;
        text-align: right;
    }

}

.about .wrapper {
	        background-image: url(../images/about/a3.jpeg);
    background-position: center;
    background-size: cover;
    height: 200px;
    text-align: right;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 800px;
    padding-top: 30px;
    padding-right: 20px;
    color: white;
    // h1 {
    //     display: block;
    //     font-family: Montserrat, sans-serif;
    //     font-style: normal;
    //     font-weight: 600;
    //     text-transform: uppercase;
    //     font-size: 70px;
    //     line-height: 1.14em;
    //     letter-spacing: .12em;
    //     margin-block-start: 0.67em;
    //     margin-block-end: 0.67em;
    //     margin-inline-start: 0px;
    //     margin-inline-end: 0px;
    //     word-wrap: break-word;
    // }
}


.col-left .about-img img{
    border-radius: 50%;
    width: 70%;
    height: 70%;
    border: 3px solid white;
    opacity: .85;
    align-items: center;
}


.about-grid {
    margin: 40px 100px auto 100px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
        background-color: #C19D70;

    h1{
        color: #444;
    }
    h2{
        color: white;
    }

    p{
        color: white;
        font-style: italic;
    
    }

}

@media screen and (max-width:900px) {
    .about .wrapper {
        margin: 0;
        height: 100px;

        h1 {
            font-size: 24px;
            padding-top: 20px;
            font-weight: 600px;
        }
    }

    .about-grid{
            grid-template-columns: 1fr;
    }
    .about p {
        margin: 20px;
        letter-spacing: 1.2px;
        text-align: justify;
    }

    @media screen and (max-width:400px){
        .about-grid{
            margin: 0;
    }}
}


