.home {
  margin: 30px 30px 250px 30px ;
  height: auto;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px
}

.image-grid:hover{
  background-color: C19D70;
  opacity: .3;
}
.cta a {
  padding: 30px auto 30px auto;
}
@media screen and (max-width:900px) {
  .home {
  margin: 30px 30px 300px 30px;
  height: auto;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px
}
}
// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit; 
// }
// html {
//   box-sizing: border-box;
// //   font-size: 62.5%; 
// }
// .container {
//   width: 100%;
//   margin: 20px 20px 20px 20px; 
// }
// .home-grid {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-template-rows: repeat(8, 5vw);
//   grid-gap: 30px 30px 30px 30px; 
// }

// .image-grid{
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   display: block;
//   border: 2px solid #C19D70;
// }

// .image-grid:nth-child(2) {
//   grid-column-start: 1;
//   grid-column-end: 3;
//   grid-row-start: 1;
//   grid-row-end: 3;
// //   /** Alternative Syntax **/
// //   /* grid-column: 1 / span 2;  */
// //   /* grid-row: 1 / span 2; */
// }
// .image-grid:nth-child(1) {
//   grid-column-start: 3;
//   grid-column-end: 5;
//   grid-row-start: 1;
//   grid-row-end: 3;

//   /** Alternative Syntax **/
//   /* grid-column: 3 / span 2;  */
//   /* grid-row: 1 / span 2; */
// }
// .image-grid:nth-child(3) {
//   grid-column-start: 5;
//   grid-column-end: 9;
//   grid-row-start: 1;
//   grid-row-end: 6;

//   /** Alternative Syntax **/
//   /* grid-column: 5 / span 4;
//   grid-row: 1 / span 5; */
// }

// .image-grid:nth-child(4) {
//   grid-column-start: 1;
//   grid-column-end: 5;
//   grid-row-start: 3;
//   grid-row-end: 6;

//   /** Alternative Syntax **/
//   /* grid-column: 1 / span 4;  */
//   /* grid-row: 3 / span 3; */
// }

// .image-grid:nth-child(5) {
//   grid-column-start: 1;
//   grid-column-end: 5;
//   grid-row-start: 6;
//   grid-row-end: 9;

//   /** Alternative Syntax **/
//   /* grid-column: 1 / span 4; */
//   /* grid-row: 6 / span 3; */
// }

// .image-grid:nth-child(6){
//   grid-column-start: 5;
//   grid-column-end: 9;
//   grid-row-start: 6;
//   grid-row-end: 9;

//   /** Alternative Syntax **/
//   /* grid-column: 5 / span 4; */
//   /* grid-row: 6 / span 3; */
// }
