.header {
    height: 90px;
    width: 100%;

    // padding: 12px 16px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-column-gap: 16px;

    background-color: white;
    display: flex;
    justify-content: space-between;
    color: $text-color;

    .brand {
        width: 90px;
        height: 70px;
        align-items: center;
        padding-left: 20px;
        padding-top: 10px;
    }

    // h1 {
    //     font-size: 22px;
    //     font-weight: 500;
    //     font-family: 'Dancing Script', cursive;
    //     margin-left: 30px;
    // }

    // span {
    //     font-size: 15px;
    //     font-weight: 400;
    //     display: flex;
    //     align-items: center;
    //     font-family: Mon;
    //     margin-left: 30px;
    //     color: #C19D70;
    // }
    
    .nav-list {
        display: flex;
        align-items: center;
        padding-right: 30px;
    }
    .nav-list ul {
        height: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        text-transform: uppercase;
        padding: 0 20px 0 50px;
    }

    .nav-list a {
        text-decoration: none;
        padding: 0 20px 0 20px;
        font-size: 18px;
        font-weight: 600;
        color: $text-color;
        -webkit-font-smoothing: antialiased;
	    letter-spacing: 4px;

        &:hover {
            color: $text-hover;
            font-weight: 700;
        }
    }

    .menu {
        height: 70px;
        width: 70px;
        display: inline-block;
        border: 1px solid $text-hover;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        cursor: pointer;
        transform: scale(.65);
        margin-right: 20px;
        background-color: white;
        display: none;
    }

    .menu:after {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 1px solid white;
        animation: hamburger_puls 1s ease infinite;
    }

    .menu .bar::after,
    .menu .bar::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: $text-hover;
        transition: .3s ease;
        transition-property: top, bottom;
    }

    .menu .bar::after {
        top: 10px;
    }

    .menu .bar::before {
        bottom: 10px;
    }

    .menu .bar.active .bar::before {
        bottom: 0;
    }

    .menu .bar.active .bar::after {
        top: 0;
    }

    .menu .bar {
        height: 1px;
        width: 30px;
        position: relative;
        background-color: $text-color;
        z-index: -1;
    }
}
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@media screen and (max-width: 1024px) {
    .header {
        .nav-list {
            width: 100%;
            min-height: 600px;
            // height: calc(100% -65px);
            background:white;
            position: absolute;
            // top: 65px;
            left: -100%;
            transition: 300ms ease left;
            flex-direction: column;
            margin: auto;
            text-align: center;
            padding-top: 40%;
            
            a{
                width: 100%;
                padding: 0;
                font-weight: 1000;
                font-size: 25px;
            }

            li{
                height: 80px;
                display: flex;
            }
            ul{
                flex-direction: column;
                justify-content: flex-start;
                padding: 0;
                align-items: center;
            }
    
            ul,li,brand {
                width: 100%;
            }

            &.active {
                left: 0px;
            }
        }
        
        .menu {
            display: flex;
            margin-top: 10px;
        }
    }
}
