#product {
    margin: 30px 30px 30px 30px;
    padding-bottom: 300px;

    h2 {
        margin-top: 70px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 4px;
    }

    h1 {
        // margin: 30px 30px auto auto;
        color: #444;
        text-align: right;
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 800px;
        padding-top: 80px;
        padding-right: 20px;
    }
    hr {
        width: 30%;

        border: none;
        border-top: 1px double #C19D70;
        color: #C19D70;
        overflow: visible;
        text-align: center;
        height: 3px;
    }

    hr:after {
        background: #fff;
        content: '◆';
        padding: 0 4px;
        position: relative;
        top: -13px;
    }
}


#product .wrapper {
    background-image: url(../images//products//product-wrapper/wrapper.jpg);
    background-position: center -70px;
    height: 200px;

    // h1 {
    //     display: block;
    //     font-family: Montserrat, sans-serif;
    //     font-style: normal;
    //     font-weight: 600;
    //     text-transform: uppercase;
    //     font-size: 70px;
    //     line-height: 1.14em;
    //     letter-spacing: .12em;
    //     margin-block-start: 0.67em;
    //     margin-block-end: 0.67em;
    //     margin-inline-start: 0px;
    //     margin-inline-end: 0px;
    //     word-wrap: break-word;
    // }
}

.submenu {
    margin: 20px 0 auto 0;

    ul {
        justify-content: space-evenly;
        display: flex;
        align-items: center;
    }

    li {
        list-style-type: none;
        text-align: center;

    }

    a {
        letter-spacing: 1.5px;
        font-size: 30px;
        color: #C19D70;
        text-align: center;

    }
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    #product h2 {
        font-size: 22px;
    }

    .wrapper {
        margin: 0;
        height: 100px;

        h1 {
            font-size: 20px;
        }
    }

    .submenu a {
        font-size: 18px;
    }

    .grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
        font-size: 15px;
    }
}
